
html,
body{
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9 112 52);
}

.header > img{
    height: 3rem;
    width: auto;
    margin: 15px;
}


.books{
    display: grid;
    overflow: auto;
    margin: 100px;
    gap: 30px;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.book{
    background-color: rgb(9 112 52);
    border-radius: 15px;
    border: 10px solid black;
}


